<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haha.wormholeadmin.mapper.SysRoleMenuDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.haha.wormholeadmin.entity.SysRoleMenuEntity">
        <result column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="menu_id" property="menuId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        role_id, menu_id
    </sql>

    <select id="selectUserMenu" parameterType="string" resultType="com.haha.wormholeadmin.entity.SysMenuEntity">
        SELECT
            menu.*
        FROM
            tbl_sys_user_role user_role
                INNER JOIN tbl_sys_role_permission role_perm
                           ON (
                               user_role.role_code = role_perm.role_code
                               )
                INNER JOIN tbl_sys_menu menu
                           ON (
                               role_perm.permission_code = menu.permission
                               )
        WHERE user_role.user_name = #{value}
    </select>
</mapper>
